<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdanaBaro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B662E49423CE396200BBD55B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B662E4AA23CE396600BBD55B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B662E4B523CE396600BBD55B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
